:root {
  --bg-color-lighter: #fff;
  --bg-color-darker: #f5f5f5;
  --font-color-ligher: #666;
  --font-color-darker: #000;
  --yellow: #ffc600;
  --radius: 15px;
  --box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--bg-color-darker);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.card {
  background-color: var(--bg-color-lighter);
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
}
.card img {
  width: 100%;
  height: auto;
  border-radius: var(--radius) var(--radius) 0 0;
}
.card h3 {
  text-align: center;
  background-color: var(--bg-color-darker);
  padding: 10px 0;
}
.card button {
  width: 100%;
  color: var(--bg-color-darker);
  background-color: var(--font-color-darker);
  padding: 10px;
  font-size: 20px;
  border-radius: 0 0 var(--radius) var(--radius);
  outline: none;
  border: 0;
}
.card * {
  margin: 0;
}
.module-outter {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  /* hiding this till we need  */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.module-outter.open {
  opacity: 1;
  pointer-events: all;
}
.module-inner {
  width: 50%;
  height: 50vh;
  background-color: var(--bg-color-lighter);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}
